.list{
    padding: 10px;
    text-align: center;
    background-color: lightyellow;
}
.name-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img img{
    width: 70px;
    height: 60px;
    border-radius: 50%;
}
.info-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.times{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time button{
    border: none;
    background-color: lightsteelblue;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.exercise-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.break-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ac-comp{
    background-color: lightskyblue;
    border: none;
    padding: 8px 15px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}