.App {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
@media screen and (max-width:540px) {
  .App{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
}
